<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SMasteroids</string>
	<key>CFBundleIdentifier</key>
	<string>tech.meyerzinn.SMasteroids</string>
	<key>CFBundleDisplayName</key>
	<string>SMasteroids</string>
	<key>CFBundleName</key>
	<string>SMasteroids</string>
	<key>CFBundleIconFile</key>
	<string>SMasteroids.icns</string>
	<key>CFBundleShortVersionString</key>
	<string>SHORT_VERSION</string>
	<key>CFBundleVersion</key>
	<string>VERSION</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>IFMajorVersion</key>
	<integer>0</integer>
	<key>IFMinorVersion</key>
	<integer>1</integer>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright (©) 2019, Meyer Zinn. SMasteroids is release under the GPLv3 License.</string>
	<key>NSHighResolutionCapable</key>
	<true/>
</dict>
</plist>